---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/navBar.astro';
import MainContent from '../components/mainContent.astro';
import SkillNme from '../components/SkillNme.astro';
import Projects from '../components/projects.astro';
import ContactMe from '../components/contactMe.astro';
---


<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body class="bg-[#212922]">
		<div>
			<Layout title="Eleazar's Portfolio" >
				<NavBar/>
				<MainContent/>
				<SkillNme/>
				<Projects/>
				<ContactMe/>
			</Layout>
		</div>
	</body>
</head>

