<div class="bg-custom-green h-auto md:h-640 flex items-center justify-center">
    <div
        class="text-white text-center md:text-left md:absolute md:top-60 md:left-44 p-6"
    >
        <h2
            class="text-4xl md:text-5xl font-semibold overflow-hidden border-r-2 border-white whitespace-nowrap animate-typing"
        >
            Hi, I'm Eleazar
        </h2>
        <h4
            class="text-2xl md:text-3xl text-custom-Light-Green font-semibold mt-4 md:mt-2 overflow-hidden border-r-2 border-custom-Light-Green-green whitespace-nowrap animate-type"
        >
            Front-end dev / Software dev
        </h4>

        <button
            class="bg-custom-black animate-bounce p-4 mt-6 md:mt-10 rounded drop-shadow-md hover:bg-gray-800 transition-all"
        >
            Download my CV
        </button>
    </div>
</div>
