<div
    class="bg-custom-black rounded-lg max-w-screen-xl flex md:flex-wrap justify-center mx-auto p-6 sticky top-5 z-50"
>
    <div
        class="text-white text-center space-y-4 md:space-y-0 md:space-x-16 flex flex-col md:flex-row items-center"
    >
        <a href="#aboutMe">About me</a>
        <a href="#Projects">Projects</a>
        <a href="mailto:eleazar1225@hotmail.com">Contact me</a>
    </div>
</div>
